apiVersion: operators.coreos.com/v1
kind: OperatorGroup
metadata:
  name: {{ args.package_name }}
  namespace: {{ args.target_namespace }}
spec:
{% if not ctx.cluster_wide %}
  targetNamespaces:
    - {{ args.target_namespace }}
{% endif %}
