apiVersion: fournos.dev/v1
kind: FournosJob
metadata:
  name: {{ ctx.final_job_name }}
  namespace: {{ args.namespace }}
spec:
  owner: {{ args.owner }}
  displayName: {{ args.display_name }}
  cluster: {{ args.cluster_name }}
  pipeline: {{ args.pipeline_name }}
  forge:
    project: {{ args.project }}
    preset: "{{ args.args | join(' ') }}"
    configOverrides:
{{ args.variables_overrides | toyaml | indent(6, true)}}
  env:
{{ args.env | toyaml | indent(4, true) }}
